*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousal{

    position: relative;
}

.list {

    list-style-type: none;
}



.carousal .slide{

    position: absolute;
    inset: 0;
   
    height: 100vh;
    
   
}

.slide[data-active]{

    
} 
.list{

    display: flex;
    width: 300%;
}
.left{

    
    position: absolute;
    z-index: 22;
    font-size: 100px;
    color: black;
    top:230px; 
    left: 100px;
    cursor: pointer;
    background-color: rgb(100,100,100);
}

.left:hover{

    background-color: transparent;
    color: white;
}
.right{

   
    position: absolute;
    z-index: 22;
    font-size: 100px;
    right: 100px;
    color: black;
    top:230px; 
    cursor: pointer;
    background-color: rgb(100,100,100);
    
}

.right:focus {

    outline: 2px solid red;
}

.right:hover{

    background-color: transparent;
    color: white;
}

.main{

    overflow: hidden;
}


